
html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: -.01em;
	margin-bottom: 60px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: -.03em;
}

#main-container {
	padding-bottom: 40px;
}



.bamnit-description {
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

.chart-row {
	margin-top: 10px;
	margin-bottom: 5px;
}



div.heading {
	margin-bottom: 15px;
	margin-top: 0px;
}

div.logo {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 30px;
}

div.logo img {
	width: 400px;
}

h1.heading {
	margin-top: 10px;
}



.navbar-default {
	background-image: linear-gradient(180deg, #165683, #003e69);
	border: 0;
	border-radius: 0;
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
    font-weight: 700;
    letter-spacing: 0.03rem;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
    background-color: transparent;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #FFF;
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #DDD;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #173e59;
}

.navbar-default a.logo {
	line-height: 3.4em;
	margin-right: 15px;
}

.navbar-default img.logo {
	width: 128px;
}

@media (max-width: 767px) {
	.navbar-default a.logo {
		margin-left: 8px;
	}

	.navbar-default .navbar-collapse {
		background-color: #10314B;
		border-color: #878787;
		padding-top: 7.5px;
		padding-bottom: 7.5px;
	}

	.navbar-default .navbar-nav {
		margin: 0px -15px;
	}
}




footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

div.footer {
	text-align: center;
}

.footer a:focus, .footer a:hover {
	text-decoration: none;
}



#notification {
	margin-top: 20px;
}

#notification-email {
	font-weight: bold;
}

#notification .second-row select{
	height: 200px;
}

.btn-default:focus,
.btn-default:hover {
    color: #333;
    background-color: #eaf3fa;
    border-color: #aaa;
}

.btn-default:active:hover {
	color: #FFF;
	background-color: #0f4d7f;
}

.btn-default {
	background-color: #ebf6ff;
}

.form-control {
	box-shadow: inset 0px 1px 5px rgba(22, 86, 131, .15);
}

.form-control:focus {
    border-color: #3980b3;
    outline: 0;
    -webkit-box-shadow: 2px 2px 8px rgba(22, 86, 131, .3);
    box-shadow: 2px 2px 8px rgba(22, 86, 131, .3);
}



.status {
	font-weight:bold;
}

.toggle-holder {
	float: right;
}

.status-holder {
	line-height: 2.3em;
	float: left;
	width: 140px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #165683;
}

input:focus + .slider {
  box-shadow: 0 0 1px #165683;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}



table.ntable {
	width: 100%;
	border: thin solid #c4d6e3;
}

.ntable thead {
	background-color: #b3d6ef;
	border: thin solid #c4d6e3;
}

.ntable tbody:nth-child(odd) {
	background: #ddeaf2;
}

.ntable tbody:nth-child(even) {
	background: #edf3f7;
}

.ntable th,
.ntable td {
	padding: 5px;
}

.ntable tr > *:first-child {
	padding-left: 10px;
}

.ntable-label {
	width: 200px;
}
.ntable-delete {
	text-align: center;
}



.ntable .delete-button {
	color: #FFF;
	background-color: #890000c4;
	padding: 3px;
	border-radius: .3em;
	border: solid .08em #6ba0c582;
	-webkit-transition: .1s;
	transition: .1s;	
}

.ntable .delete-button:hover {
    color: #831616d6;
    background-color: #8316161c;
    border: solid .08em #831616d6;
}

.ntable .delete-button .fa-border {
	border: 0;
}



.api h2 {
	margin-top: 30px;
}

.api .endpoint {
	padding-top: 5px;
}

.api .endpoint h3 {
	margin-top: 20px;
}

.api samp {
    padding: 1px 2px;
    font-size: 90%;
    color: #207bac;
    background-color: #f5f8fa;
    border-radius: 2px;
}

.api h3 code {
	font-size: 75%;
	padding: 0 3px;
}

.api p {
	margin: 0 0 5px;
}

.api pre {
	margin: 15px 0 15px;
}



.alert-info {
	color: #165683;
	background-color: #32aaff2e;
}

.alert {
	border: 0;
}




/* Dynamic Chart size */
.sub.chart-wrapper {
	height: 340px;
}
@media (min-width: 576px) {
	.sub.chart-wrapper {
		height: 340px;
	}
}
@media (min-width: 768px) {
	.sub.chart-wrapper {
		height: 450px;
	}
}
@media (min-width: 992px) {
	.sub.chart-wrapper {
		height: 540px;
	}
}
@media (min-width: 1200px) {
	.sub.chart-wrapper {
		height: 540px;
	}
}




#graph-root #classes-filter {
	text-align: center;
}

@media (max-width: 767px) {
	#graph-root #classes-filter {
		text-align: left;
		padding-left: 30px;
	}
}


#graph-root #display-current-class {
	text-align: center;
	margin: 0px auto 30px auto;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	width: 85%;
}

#graph-root #display-current-class .class-type {
	font-size: 1.2em;
	font-weight: 700;
}

#graph-root #display-current-class p {
	margin-bottom: 5px;
}

#graph-root #display-current-class .course-count {

}




#graph-root ul.courses-list {
	list-style: none;
	padding-left: 0px;
}

#graph-root .list-item {

}

#graph-root .list-item.selected a {
	font-weight: 700;
	color: #003674;
}

#graph-root .list-item div {
/*	height: 50px;
	line-height: 60px;*/
}

#graph-root .list-item a {
	font-size: 1.1em;
	font-weight: 500;
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

#graph-root .list-item span {
	font-style: oblique;
	margin-right: 10px;
	font-size: 0.8em;
	color: #AAAAAA;
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
	min-width: 40px;
	text-align: right;
}

#graph-root .expand-course-list {
	margin: 10px 0 0 60px;
}

#graph-root .expand-course-list a {
	cursor: pointer;
	font-style: oblique;
}







#riot-games-root #error-box {
	margin: 10px 0;
}

#riot-games-root #error-box span {
	border: solid 1px #F00;
    border-radius: 3px;
    padding: 5px;
}


#riot-games-root .team-label {
	font-size: 1.1em;
	font-weight: 700;
	margin: 0 0 5px;
}

#riot-games-root .team-box {
	padding: 10px 15px 10px 10px;
	border-radius: 3px;
	margin: 15px 0;
}

#riot-games-root .team-box select {
	width: 100%;
}

#riot-games-root #team-1-box {
	background-color: rgba(155,202,255,0.25);
}

#riot-games-root #team-2-box {
	background-color: rgba(255,147,0,0.17);
}


#riot-games-root #prediction-box {
	text-align: center;
}

#riot-games-root #prediction-box #prediction-label {

}

#riot-games-root #prediction-box .prediction-statement {
    border-radius: 3px;
    padding: 3px 6px;
    font-size: 1.3em;
}

#riot-games-root #prediction-box #team1 {
    background-color: rgba(155,202,255,0.2);
}

#riot-games-root #prediction-box #team2 {
    background-color: rgba(255,147,0,0.15);	
}

#riot-games-root #prediction-box .prediction-statistic {
	font-weight: 800;
}


#riot-games-root #loading-box {
    width: 200px;
    background-size: 180px 180px;
    background-image: url(https://bamnit.com/static/images/loading.gif);
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

#riot-games-root #loading-box p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin: 0;
}


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}