{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}



{% block app_content %}

    <div class="row heading">
        <div class="col-xs-12">
            <h1 class="heading">{{ heading }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4>Predict a League of Legends ARAM game</h4>
            <p>This webpage uses machine learning to predict which team will win an ARAM match.</p>
        </div>
    </div>

    <div id="riot-games-root"></div>

{% endblock %}



{% block scripts %}
{{ super() }}

    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="{{ url_for('static', filename='dist/riotgames.js') }}" type="text/javascript"></script>

{% endblock %}