{% extends "base.html" %}

{% block app_content %}

    <div class="logo">
        <img src="{{ url_for('static', filename='logo/logo1.gif') }}" alt="BAMNit: By Any Means Necessary" />
    </div>
    <h4 class="bamnit-description">Bamnit is a service for substitute teachers to receive notifications when a job they are looking for becomes available.</h4>
    <p>I created this website for two reasons:</p>
    <ol>
        <li>I do part-time work as a substitute teacher, and wanted to get quick emails whenever jobs with my favorite grade or subject to teach were available.</li>
        <li>My longer-term career is in computer programming, and I built this project as a demonstration of the variety of my skill set.  It took several different pieces of technology to bring everything together, and I'm happy with how it turned out.</li>
    </ol>
    <p>Many school districts use a CMS called AesopOnline, which is essentially just a static webpage that lists a school district's available jobs, and which substitute teachers must periodically log onto to check for jobs.  Bamnit is a tool where teachers can specify exactly what kind of parameters of a job they are looking for (e.g. Middle School Art classes) and receive an email notification when a job with those parameters is available.</p>
    <p>Feel free to create an account, add some notifications, and play around with the tool!</p>

{% endblock %}