{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="row heading">
        <div class="col-xs-12">
            <h1 class="heading">{{ heading }}</h1>
        </div>
    </div>

    {% if current_user.is_authenticated == True %}
        <h4>Use this tool to add a notification to your account</h4>
        <p>Once a job appears in the system that meets these criteria, you will be emailed a notification.</p>
        <p>Notifications will be sent to <span id="notification-email">{{ current_user.email }}</span></p>    
    {% else %}
        <h4>** You must be <a href="{{ url_for('auth.login') }}">logged in</a> to add notifications to your account **</h4>
    {% endif %}

    <form class="form" method="post" role="form" id="notification">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}        
        <div class="row">
            <div class="col-xs-12 col-md-4">
                {{ wtf.form_field(form.label) }}
            </div>
            <div class="col-xs-12 col-md-3">
                {{ wtf.form_field(form.language) }}
            </div>
        </div>      
        <div class="row second-row">
            <div class="col-xs-12 col-md-4">
                {{ wtf.form_field(form.grade) }}
            </div>
            <div class="col-xs-12 col-md-4">
                {{ wtf.form_field(form.subject) }}
            </div>
            <div class="col-xs-12 col-md-4">
                {{ wtf.form_field(form.campus) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ wtf.form_field(form.submit) }}
            </div>
        </div>
    </form>


{% endblock %}